*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

/* Header */

#header{
    background-color: grey;
    /* border: 1px solid blue; */
    display: inline-block;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
}

header{
    width: 100%;
}

header img{
    float: left;
    width: 200px;
    height: 40px;
}

header nav{
    /* border: 1px solid blue; */
    float: right;
    margin-right: 0%;
    width: 50%;
    margin-top: 0.5%;
    text-align: center;
}

header nav ul li{
    /* border: 1px solid red; */
    list-style: none;
    display: inline;
    margin: 5%;
    color: white;
}

.active {
    background-color: lightgrey;
}

/* Login box */
.loginbox {
    border: 1px solid grey;
}






































/* Body */

article{
    margin: 5% 10%;
    margin-bottom: 10%;
    /* border: 1px solid red; */
}

#about {
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: auto;
}

.page{
    /* border: 1px solid red; */
    margin: 0 20%;
}

.page h1{
    /* border: 1px solid red; */
    text-align: center;
}

.page p{
    /* border: 1px solid red; */
    margin: 10px 0;
}

.box{
    /* border: 1px solid orange; */
    text-align: center;
    width: 100%;
}

.box h1{
    /* border: 1px solid red; */
    background-color: lightgray; 
    width: 30%;
    margin-left: 33%;
    padding: 2%;
}

.eventcontainer{
    /* border: 1px solid red; */
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px;
    text-align: center;
    margin: 0 auto;
}

.eventcontainer img{
    margin: 20px auto;
    /* border: 1px solid blue; */
}

.newscontainer{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    /* border: 1px solid green; */
    margin: 20px auto;
    text-align: center;
    column-gap: 10px;
}

.newscontainer img{
    width: 50%;
}

.cardNews{
    padding: 20px;
    margin: 20px auto;
    /* border: 1px solid purple; */
    transition: all 0.2s linear;
    border-radius: 15px;
}

.cardNews:hover{
    background-color: lightgrey;
}

.shwbx{
    /* border: 2px solid grey; */
    height: 80vh;
    border-radius: 7px;
    flex: 0 0 70%;
    margin-top: 10%;  
    text-align: center;
}

.card{
    margin: 20px auto;
    /* border: 1px solid purple; */
    transition: all 0.2s linear;
    border-radius: 15px;
}

.card:hover{
    background-color: lightgrey;
}

.eventcap{
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    /* border: 1px  solid blue; */
}

.newscap{
    /* border: 1px solid red; */
    margin: 10px 75px;
    text-align: left;
}

#aboutArt{
    margin-top: 10%;
    padding: 20px;
    /* border: 1px solid red; */
}

.aboutPage{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5%;
    /* border: 1px solid purple; */
    margin: 10px 0;
    padding: 10px 0;
}

.facultyInfo{
    /* border: 1px solid blue; */
    text-align: justify;
}
.facultyInfo h1{
    text-align: center;
    margin: 20px 0;
}

.facultyPic img{
    margin-top: 20px; 
}

.pumaInfo{
    /* border: 1px solid grey; */
    text-align: justify;
}
.pumaInfo h1{
    text-align: center;
    margin: 20px 0;
}

.aboutBox{
    /* border: 1px solid green; */
    text-align: center;
    background-color: lightgray;
    width: 30%; 
    margin: 0 auto;
}

.aboutBox h1{
    padding: 20px;
}

#lectArt{
    text-align: center;
    /* border: 1px solid red; */
}

.imgPlace{
    margin: 20px auto;
    border:1px solid pink;
    width: 360px;
    height: 120px;

}

.detailPlace{
    /* border:1px solid blue; */
    text-align: justify;
    margin: 5px 20px;
}

.outerlayer{
    /* border: 1px solid purple; */
    margin-top: 30px;
}

.facultyPic{
    text-align: center;
}

#Eventlist{
    margin-top: 10%;
}

































/* Footer */

footer{
    background-color: grey;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    margin-bottom: -5px;
    /* border: 1px solid red; */
}

.logofooter{
    /* border: 1px solid green; */
    float: left;
    text-align: center;
}

.infofooter{
    /* border: 1px solid yellow; */
    float: right;
    padding: 5px;
    margin-top: 1%;
    text-align: center;
}

.address{
    /* border: 1px solid grey; */
    margin: 2%;
}

.contact{
    /* border: 1px solid pink; */
    margin: 2%;
}















@media (max-width: 400px){

    .box h1{
        /* border: 1px solid red; */
        background-color: lightgray; 
        width: 55%;
        margin: 0 auto;
        padding: 2%;
    }

    .aboutBox h1{
        margin-top: 20%;
    }

    .facultyPic img{
        margin-top: 20px; 
    }

    content{
        text-align: center;
    }

    article{
        margin-bottom: 50px;
    }

    header{
        width: 100%;
        display: inline-block;
    }

    header img{
        width: 50%;
        clear: both;
    }

    #about{
        grid-template-columns: auto;
    }

    .page{
        margin: 0 auto;
        /* border: 1px solid green; */
        width: 100%;
    }

    #about img{
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .eventcontainer{
        grid-template-columns: auto;
    }

    .newscontainer{
        grid-template-columns: auto;
    }
    .cardNews img{
        width: 70%;
    }

    footer{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
    }

    footer img{
        width: 70%;
        height: 50%;
    }

    #showbox{
        margin-top: 20%;
    }

    .shwbx{
        /* border: 1px solid red; */
        height: 20vh;
    }

    #Eventlist{
        margin-top: 30%;
    }
    
    .aboutBox{
        /* border: 1px solid green; */
        width: 50%; 
        margin: 0 auto;
    }

    .aboutPage{
        display: grid;
        grid-template-columns: auto;
        row-gap: 1%;
        /* border: 1px solid purple; */
    }

    .imgPlace{
        margin: 20px auto;
        width: 240px;
        height: 80px;
    
    }
}
















@media (max-width: 800px) {
    .eventcontainer{
        display: grid;
        grid-template-columns: auto;
    }

    .shwbx{
        /* border: 1px solid red; */
        height: 20vh;
    }
}